@import "tailwindcss";

/* Ant Design styles */
@import "antd/dist/reset.css";

p {
  margin-bottom: 0;
}

.back-gradient-login {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Custom scrollbar styling */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  transition: background 0.3s ease; /* Smooth transition */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}
